@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
}

header h1 {
    font-variant: small-caps;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
    font-size: 1.2em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.295);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: darkgrey;
    
}

footer a:hover{
    text-decoration: underline;
    font-size: 1.2em;
}